flask-login==0.4.1
flask-marshmallow==0.9.0
flask-socketio==3.0.1
flask-sqlalchemy==2.3.2
gevent-websocket==0.10.1
gunicorn==19.9.0
marshmallow-sqlalchemy==0.14.1
scikit-image==0.14.0
scipy==1.1.0
toolz==0.9.0