body {
    background-color: rgb(8, 9, 10) !important;    
}

.row {
    background-color: rgb(29, 32, 36);
}

#video-container {
    border-right: 1px solid black;
}

#search-list #list-result {
    border-left: 0;
    border-right: 0;
}

input[text] {
    background: #555 !important;
}

::-webkit-scrollbar {
    width: 10px;
}
::-webkit-scrollbar-track {
    background: rgb(29, 32, 36); 
}
::-webkit-scrollbar-thumb {
    background: rgb(49, 49, 49); 
}
::-webkit-scrollbar-thumb:hover {
    background: #555; 
}
