@import url('https://fonts.googleapis.com/css?family=Karla');

body {
  font-family: 'Karla', sans-serif !important;

  background-image: url("../images/wall.jpg");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

  height: 100%;
  width: 100%;
  position: absolute;
}

/* Pace Progress Bar */
.pace {
  -webkit-pointer-events: none;
  pointer-events: none;

  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;

  position: fixed;
  top: 0;
  left: 0;
  width: 100%;

  -webkit-transform: translate3d(0, -50px, 0);
  -ms-transform: translate3d(0, -50px, 0);
  transform: translate3d(0, -50px, 0);

  -webkit-transition: -webkit-transform .5s ease-out;
  -ms-transition: -webkit-transform .5s ease-out;
  transition: transform .5s ease-out;
}

.pace.pace-active {
  -webkit-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.pace .pace-progress {
  display: block;
  position: fixed;
  z-index: 2000;
  top: 0;
  right: 100%;
  width: 100%;
  height: 4px;
  background: #1EAEDB;

  pointer-events: none;
}

/* Custom CSS */

.spinner {
  width: 22px;
}

#video-placeholder {
  margin-bottom: -7px;
  pointer-events: none;
}

#volume-slider {
  -webkit-appearance: none;
  background: #ccc;
  cursor: pointer;
  height: 3px;
  width: 150px;
  float: right;
  margin-top: 20px;
  margin-left: 15px;
}
#volume-slider:focus {
  outline: none;
}
#volume-slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  cursor: pointer;
  border-radius: 25px;
  background: #1EAEDB;
  height: 18px;
  width: 18px;
}

table {
  display: block;
}

#controls {
  width: 100%;
  padding: 15px;
}
#controls .input-group {
  float: left;
}
#controls .input-group .mr2 button {
  border-radius: 0;
  border: none; 
}
#controls #playback-rates {
  float: right;
}

#duration-container {
  background: #303030;
  color: white;
  height: 30px;
  width: 98%;
  text-indent: 1em;
  margin-left: 1%;
}
#duration-container h6 {
  margin-top: 4px;
  float: left;
}

#progress-bar {
  cursor: pointer;
  background: linear-gradient(to bottom right, #1EAEDB, rgb(11, 122, 156));
  height: 22px;
  width: 98%;
  margin-left: 1%;
  -webkit-appearance: none;
}
#progress-bar::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 22px;
  width: 16px;
  background: #ccc;
  cursor: pointer;
}

#video-container {
  background-color: white;
  padding: 15px;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: -120px;
  border-radius: 5px;
}

#yt-url {
  width: 90%;
  border-radius: 5px;
  border: 0;
  background: transparent;
  outline: 0;
}
.close {
  float: right;
}

.card {
  font-size: 13px;
}

#search-card {
  overflow: hidden;
  max-height: 100%;
}

#search-list {
  margin-top: -10px;
  width: 100%;
  max-height: 610px;
  overflow-y: scroll;
}
#history-list {
  margin-top: -10px;
  width: 100%;
  max-height: 610px;
  overflow-y: scroll;
}

#list-result img {
  /* Thumbnails */
  float: right;
  width: 35%;
  border-radius: 5px;
}
#list-result p { 
  float: left;
  width: 50%;
  margin-bottom: 20%;
}
#list-result:hover {
  cursor: pointer;
  background: #ccc !important;
}

#page-author .d-inline {
  margin-right: -13px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}
#page-user .d-inline {
  background-color: #1EAEDB !important;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

#page-title a {
  color: #1EAEDB !important;
  font-size: 18px;
  font-weight: 500;
}

.playback-rate {
  position: absolute;
  font-size: 48px; 
  color: white;
  font-family: 'Arial', sans-serif;
  font-weight: bold;
  z-index: 9999;
  right: 0;
  margin-right: 15px;
  opacity: 0.8;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
}

.no-search {
  color: #CCC;
  vertical-align: middle;
  text-align: center;
}

.upload-date {
  position: absolute;
  font-size: 12px;
  background: black;
  color: white;
  padding: 5px;
  text-align: center;
  border-top-right-radius: 5px;
  opacity: 0.5;

  bottom: 0;
  left: 0;
}

#skip_to {
  margin-left: 5px;
  border-radius: 5px;
  border: 1px solid #6C757D;
  text-indent: 1em;
}

#play {
  display: none;
  margin-right: 5px;
}
#pause {
  margin-right: 5px;
}
#replay {
  display: none;
  margin-right: 5px;
}