<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="utf-8">
      <title></title>
      <meta name="description" content="">
      <meta name="author" content="">
      <meta name="scheme" content="{{ request.scheme }}">
      <meta id="current-user" data-id="{{ current_user.id }}">
      <!-- Mobile Specific Metas -->
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <!-- CSS -->
      <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">
      <link rel="stylesheet" href="../static/css/main.css">
      <link rel="stylesheet" href="../static/css/dark.css">
      <link rel="stylesheet" href="../static/css/bootstrap.min.css">
      <!-- JS -->
      <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
      <script src="//cdnjs.cloudflare.com/ajax/libs/jquery-scrollTo/2.1.2/jquery.scrollTo.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
      <script src="../static/js/bootstrap.min.js"></script>
      <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.6/socket.io.min.js"></script>
      <!-- Icon -->
      <link rel="icon" type="image/png" href="../static/images/favicon.png">
   </head>
   <body>
      <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <!--<a class="navbar-brand" target="_blank" href="/user/{{ current_user.username }}">{{ current_user.username }}</a>
        -->
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="active-users"></div>
        
        <ul class="navbar-nav ml-auto">
          {% if current_user.lastfm_connected() %}
            <a target="_blank" href="https://www.last.fm/user/{{ current_user.fm_name }}">
              <button type="button" class="btn btn-success" style="margin-right: 4px">
                <i class="fab fa-lastfm-square"></i>
                <span>{{ current_user.fm_name }}</span>
              </button>
            </a>
          {% else %}
            <a href="auth/lastfm">
              <button type="button" class="btn btn-danger" style="margin-right: 4px">
                <i class="fab fa-lastfm-square"></i>
                <span>Connect your account</span>
              </button>
            </a>
            <br/>
          {% endif %}
          <div class="form-inline my-2 my-lg-0">
          <div class="input-group">
            <div id="yt-url-close" class="input-group-prepend">
              <span id="yt-url-close-icon" aria-hidden="true" class="input-group-text"><i class="fas fa-times"></i></span>
            </div>
            <input id="yt-url" class="form-control mr-sm-2" type="search" style="width: 400px" placeholder="Search or Enter URL" aria-label="Search">
          </div>
          <button id="yt-search" class="btn my-2 my-sm-0">Search</button>
        </ul>
      </div>
      </nav>
      <div class="container" style="max-width: 100%">
         <div class="row">
            <!-- Video embed side -->
            <div class="col-8" id="video-container">
               <div id="video-card" class="row" style="overflow: hidden;">
                  <div class="playback-rate"></div>
                  <div class="embed-responsive embed-responsive-16by9">
                    <div id="youtube-player"></div>
                    <div id="twitch-player"></div>
                  </div>
                  <input aria-label="Progress bar" type="range" id="progress-bar" value="0"/>
                  <div id="duration-container">
                      <h6 id="current-time"></h6>
                      <h6>&nbsp;/&nbsp;</h6>
                      <h6 id="duration"></h6>
                      <div id="genres"></div>
                  </div>
                  <div class="row" id="controls">
                    <div class="input-group">
                      <div class="col col-11">
                        <div class="input-group mr-2" role="group">
                          <button id="play" aria-label="Play video" class="btn btn-outline-secondary" onclick="controlPlay()"><i class="fas fa-play"></i></button>
                          <button id="pause" aria-label="Pause video" class="btn btn-outline-secondary" onclick="controlPause()"><i class="fas fa-pause"></i></button>
                          <button id="replay" aria-label="Replay video" class="btn btn-outline-secondary" onclick="controlPlay()"><i class="fas fa-redo"></i></button>
                          <button aria-label="Enter fullscreen video" class="btn btn-outline-secondary" onclick="controlFullscreen()"><i class="fas fa-expand"></i></button>
                          <input aria-label="Skip to time" type="text" id="skip_to" placeholder="Skip to"/>
                          <input aria-label="Volume slider" type="range" id="volume-slider" alt="Change volume" value="50"/>
                          <span aria-label="Volume percentage" id="volume-display">50%</span>
                        </div>
                      </div>
                      <div id="qualities-dropdown" class="dropdown" style="display: none">
                        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                          Quality
                        </button>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        </div>
                      </div>
                      <div class="col col-1">
                        <div class="btn-group mr-1" id="playback-rates" role="group"></div>
                      </div>
                    </div>
                  </div>
               </div>
            </div>
            <!-- Search side -->
            <div class="col-4">
                <div class="row">
                  <ul id="search-list" class="list-group"></ul>
                  <ul id="history-list" class="list-group"></ul>
              </div>
              </div>
         </div>
      </div>
      <script type="text/javascript" src="../static/js/sockets.js"></script>
      <!-- Youtube iFrame API -->
      <script src="https://www.youtube.com/iframe_api"></script>
      <!-- Twitch iFrame API -->
      <script src= "https://player.twitch.tv/js/embed/v1.js"></script>
      
      <!-- Player managers -->
      <script type="text/javascript" src="../static/js/player.js"></script>
      <script type="text/javascript" src="../static/js/events.js"></script>
   </body>
</html>