<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="utf-8">
      <title>洁洁</title>
      <meta name="description" content="">
      <meta name="author" content="">
      <!-- Mobile Specific Metas -->
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <!-- CSS -->
      <link rel="stylesheet" href="../static/css/bootstrap.min.css">
      <!-- JS -->
      <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
      <!-- Icon -->
      <link rel="icon" type="image/png" href="../static/images/favicon.png">
   </head>
   <body>
        <style>
          .jumbotron {
            background-color: rgba({{ colors[0] }});
            border-radius: 0px;
            color: {{ colors[1] }};
          }
          #yt-player {
            width: 250px;
            height: auto;
            border: 1px solid {{ colors[1] }};
          }
        </style>
        <div class="jumbotron">
          <h1 class="display-4">{{ user.username }}</h1>
          <p class="lead">{{ count }} total plays</p>
          <p class="lead">Most played video: {{ most_played[0].video_title }} | Played {{ most_played[1] }} times</p>
          
          <iframe id="yt-player" type="text/html" width="640" height="390"
          src="http://www.youtube.com/embed/{{ most_played[0].video_id }}?enablejsapi=1"
          frameborder="0"></iframe>
        </div>
        <h3 style="text-indent: 1em">
            Play History:
        </h3>
        <ul class="list-group">
        {% for h in history %}
            <li class="list-group-item">
                <b>#{{ h[0]+1 }}</b>
                <a target="_blank" href="https://www.youtube.com/watch?v={{ h[1].video_id  }}">{{ h[1].video_title }}</a> <br/>
                Played on {{ h[1].date }} <br/>
                Uploaded {{ h[1].video_date }}
            </li>
        {% endfor %}
        </ul>
    </body>