<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="utf-8">
      <title>{{ user.name }}'s profile</title>
      <meta name="description" content="">
      <meta name="author" content="">
      <!-- Mobile Specific Metas -->
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <!-- CSS -->
      <link rel="stylesheet" href="../static/css/bootstrap.min.css">
      <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">
      <!-- JS -->
      <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>

      <!-- Icon -->
      <link rel="icon" type="image/png" href="../static/images/favicon.png">
   </head>
   <body>
        <style>
          .jumbotron {
            background-color: white;
            border-radius: 0px;
            color: black; 
            text-align: center;
          }
          .jumbotron a {
            color: black;
          }
          #yt-player {
            width: 250px;
            height: auto;
            border: 1px solid black;
          }
        </style>
        <div class="jumbotron">
          <p style="position: absolute; top: 15px; left: 15px;"><a href="/"><i class="fas fa-arrow-circle-left"></i> Go back</a></p>
          <h1 class="display-4">{{ user.name }}</h1>
          <p class="lead">{{ total_plays }} total plays</p>
          <hr width="250"/>
          {% if most_played %}
              <p class="lead">Most played video:</p>
              
              <iframe id="yt-player" type="text/html" width="640" height="390"
                                                                  src="https://www.youtube.com/embed/{{ most_played.watch_id }}?enablejsapi=1"
              frameborder="0"></iframe>
          {% endif %}

          {% if lastfm %}
            <p style="background: #f46542; border-radius: 5px; padding: 5px; position: absolute; right: 15px; top: 15px" class="lead">
              <i class="fab fa-lastfm"></i>&nbsp;<a href="https://www.last.fm/user/{{ lastfm.user.name }}"><u style="color: white">{{ lastfm.user.name }}</u></a> 
              <br/>{{ lastfm.user.playcount }} plays
            </p>
          {% endif %}
        </div>
        <h3 style="text-indent: 1em">
            <a href="/~{{ user.name }}/history/1">Play History</a>
        </h3>
    </body>
